.footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #D8EAEE;
  color: #181818;
  font-family: 'Fredoka', sans-serif;
}

.footer-animation {
  flex: 2;
  font-size: 5rem;
  font-family: "Caveat Brush", cursive;
  font-weight: bold;
  text-align: center;
  position: relative;
  height: 1.2em; /* Ensures proper height for the animation */
  opacity: .8;
}

.typewriter-text {
  display: inline-block;
  border-right: 2px solid #bdd6dc;
  animation: blink-caret 0.7s step-end infinite;
}

/* Blinking caret animation */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}


.footer-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.footer-links{
  justify-content:space-evenly  ;
  font-weight: 700;
  padding: 2px;
  }

  .footer-links a {
    background-color: #bbd4da;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .footer-links a:hover {
    background-color:#71939c;
    color: #D8EAEE;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
  }

  .footer-links a:active {
  scale: 0.95;
  transition: all 0.2s ease-in-out;
  font-weight: 700;

  } 

.footer-social a {
  color: #181818;
  font-size: 35px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;

}

.footer-social a:hover {
  color: #f39c12;
  transition: all 0.2s ease-in-out;

}

.contact-info p {
  margin: 0;
  font-size: 1.5rem;
}

.footer-row a {
  color: #181818;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}



footer p{
  margin-bottom: 0;
}
