.footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 10px;
  margin-top: 10px;
  background-color: #D8EAEE;
  color: #181818;
}

.footer-animation {
  flex: 1;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  height: 1.2em; /* Ensures proper height for animation */
  overflow: hidden; /* Hides the non-visible text during animation */
}

.animated-text {
  position: absolute;
  width: 100%; /* Ensures text spans the full container */
  text-align: center;
  color: #BDD6DC;
  font-size: 4rem;
}

.animated-text:first-child {
  animation: fadeOut 4s infinite;
}

.animated-text:last-child {
  animation: fadeIn 4s infinite;
}

@keyframes fadeOut {
  0%, 25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0%, 50% {
    opacity: 0;
  }
  75%, 100% {
    opacity: 1;
  }
}


.footer-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.footer-links{
  justify-content: space-evenly;
  font-weight: 700;
  padding: 2px;
}

.footer-social a {
  color: #181818;
  font-size: 35px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;


}

.footer-social a:hover {
  color: #f39c12;
  transition: all 0.2s ease-in-out;

}

.contact-info p {
  margin: 0;
}

.footer-row a {
  color: #181818;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;

}

.footer-row a:hover {
  color: #f39c12;
  font-weight: bold;
  transition: all 0.1s ease-in-out;

}

footer p{
  margin-bottom: 0;
}
